html,
body {
  height: 100%;
}

a {
  color: crimson;
}

.main {
  text-align: center;
  z-index: 20;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
}

.centered-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin: 4em 0;
}
